@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
@import url(https://fonts.googleapis.com/css?family=Asap+Condensed);
@import url(https://fonts.googleapis.com/css?family=Asap);

*{padding:0;margin:0;box-sizing:border-box;}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }
html , body , dl, ul, ol, li, input , label, textarea , dt , dd ,  a , p , span, h1, h2, h3, h4, h5, h6 , button{ list-style: none;font-size:14px;color:#555;line-height:20px;font-family: 'Asap', sans-serif;outline:none;}
h3{font-family: 'Asap Condensed', sans-serif;/*-webkit-text-stroke: 1px rgba(0,0,0,.3)*/;
-webkit-user-select: text; /* Chrome all / Safari all */
-moz-user-select: text; /* Firefox all */
-ms-user-select: text; /* IE 10+ */
user-select: text;}

@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-400.woff") format('woff');
    src: url("./fonts/asap-latin-400.woff2") format('woff2');
	font-weight:400;
}
@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-400italic.woff") format('woff');
    src: url("./fonts/asap-latin-400italic.woff2") format('woff2');
	font-weight:400;
	font-style:italic
}
@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-500.woff") format('woff');
    src: url("./fonts/asap-latin-500.woff2") format('woff2');
	font-weight:500;
}
@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-500italic.woff") format('woff');
    src: url("./fonts/asap-latin-500italic.woff2") format('woff2');
	font-weight:500;
	font-style:italic
}

@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-600.woff") format('woff');
    src: url("./fonts/asap-latin-600.woff2") format('woff2');
	font-weight:500;
}
@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-600italic.woff") format('woff');
    src: url("./fonts/asap-latin-600italic.woff2") format('woff2');
	font-weight:500;
	font-style:italic
}

@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-700.woff") format('woff');
    src: url("./fonts/asap-latin-700.woff2") format('woff2');
	font-weight:500;
}
@font-face {
    font-family: "Asap";
    src: url("./fonts/asap-latin-700italic.woff") format('woff');
    src: url("./fonts/asap-latin-700italic.woff2") format('woff2');
	font-weight:500;
	font-style:italic
}
table { border-collapse:collapse; border-spacing: 0; table-layout:fixed; }
a{text-decoration:none;position:relative;cursor:pointer;}

img{vertical-align:middle;}

h1 {font-size:40px;text-align:center;line-height:60px;font-weight:600;clear:both;}
h3{font-size:18px;line-height:24px;color:#333;text-align:left;}
h4 , h5 {font-family: 'Asap Condensed', sans-serif;}
input:focus , select:focus , select:active , a:focus{outline:none;}


.hidden{position:absolute;left:-9999px;top:-9999px;}

.button:hover , button:hover{background:#87cecb !important}
.button:active , button:active{background:#4a918e !important}

.rd:hover{background:#e2717d !important}
.rd:active{background:#bb4a57 !important}

.gd{box-shadow:0 14px 30px 0 rgba(50,59,81,0.1)}

a:hover{text-decoration:underline;}
a:active{color:#0d2077 !important}

/* location */
.location{position:relative;width:1200px;margin:0 auto;background:#f8f8f8;margin-top:50px;border-top:1px solid #ccc;overflow:hidden;}
.location li{display:inline-block;width:25%;text-align:center;float:left;border-bottom:1px solid #ccc}
.location li:hover a{background:#323b51;color:#fff}
.location li a{display:block;border-right:1px solid #ccc;font-size:20px;line-height:40px;height:40px;}
.location li:nth-child(4n + 1){clear:both;}
.location li:nth-child(4n + 1) a{border-left:1px solid #ccc;}


/**/

/*
select{padding-right:10px;-moz-appearance:none;display:block;position:relative;-webkit-appearance:none;appearance:none;background:url('../img/video/bg_select.png') no-repeat 95% center;padding-right:10% !important;}
*/
.autosize{resize:none;border:none;padding:10px;background:none;width:263px;font-size:14px;color:#333;line-height:16px;height:16px;vertical-align:middle;}
button{cursor:pointer;background:none;border:none;outline:none;}
button:disabled{opacity:0.5;}
.oh{overflow:hidden;}
.guestView{width:100%;}
#Chat.guestView:after{width:100%;}


.behindBg{background:#323b51;width:100%;height:100%;top:0;left:0;opacity:0.5;position:fixed}

/* firefox*/
@-moz-document url-prefix(){
	.conference .screen .share .icon{display:none;margin:0 auto}
	.conference .screen .share .icon.ff{display:block;width:22%;margin-top:15%}
	.conference .screen .share .icon.ff img{width:100%;}

}
