/* index */
.control input {

}

@media screen and (min-width: 494px) {
    .control {
        text-align: center;
    }
    .control input {
        /*width: 380px;   mehdi
        margin: 0 auto;*/
    }
}


.bg-white-alpha {
    border: 1px solid #fff;
    background-color: rgba(255,255,255,0.15);
    box-shadow: 0 2px 4px 0 rgba(89,89,89,0.2);
}

.button-white-alpha,
.button-white-alpha:focus {
    color: #fff;
    border: 1px solid #fff !important;
    box-shadow: 0 2px 4px 0 rgba(89,89,89,0.2) !important
}

.button-white-alpha.active,
.button-white-alpha:hover {
    color: #fff;
    border: 1px solid #fff !important;
    box-shadow: 0 2px 4px 0 rgba(89,89,89,0.2) !important;
    background-color: rgba(255,255,255,0.15);
}

#startmeetingarea {
    display: flex;
    align-items: center;
    justify-content: center;
}

#startmeetingarea .form-wrap {
    display: block;
    width: calc( 100% - 1.5rem )
    /* padding: .75rem; */
}

@media screen and (min-width: 494px) {
    #startmeetingarea .form-wrap {
        display: inline-block;
        width: auto;
    }
}

.start-meeting-btn-wrap,
.schedule-btn-wrap {
    display: block;
}

.start-meeting-btn, .schedule-btn {
    margin-left: 4.5px;
    margin-right: 4.5px;
    font-size: 14px !important;
    padding-left: 34px;
    padding-right: 34px;
}

@media screen and (min-width: 668px) {
    .start-meeting-btn, .schedule-btn {
        font-size: 18px !important;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.schedule-btn {
    margin-top: 20px;
}

@media screen and (min-width: 494px) {
    .start-meeting-btn-wrap,
    .schedule-btn-wrap {
        display: inline-block;
    }

    .schedule-btn {
        margin-top: .5rem;
    }
}


@media screen and (max-width: 370px) {
    .slider-block {
        margin-top: -150px;
    }
}

/* Schedule a meeting */
.sub-section {
    height: 80px;
}

.sub-section h1 {
    margin-top: 0;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: lato;
}

.sub-section .column.f-f {
    padding-left: 0;
    padding-right: 0;
}

.sub-section h1.f-f {
    font-size: 24px;
}


@media screen and (min-width: 769px) {
    .sub-section {
        height: 232px;
    }

    .sub-section h1 {
        margin-top: 3rem;
        font-size: 28px;
    }

    .sub-section .column.f-f {
        padding-left: .75rem;
        padding-right: .75rem;
    }

    .sub-section h1.f-f {
        font-size: 28px;
    }

}


.bg-white.bg {
    padding-bottom: 40px;
}

.bg-white.bg-meeting-cenaceled {
    padding-bottom: 210px;
}

.bg-white.bg-reminders {
    padding-bottom: 82px;
}

@media screen and (min-width: 769px) {
    .bg-white.bg,
    .bg-white.bg-meeting-cenaceled,
    .bg-white.bg-reminders {
        position: relative;
        height: 608px;
    }
}

.schedule-wrap,
.waiting-wrap {
    /* width: calc(100% - 54px); */
    width: 100%;
    padding: 0 27px;
}

@media screen and (min-width: 769px) {
    .schedule-wrap {
        position: absolute;
        top: -60px;
        /* left: 18.75%;
        width: 62.5%; */
        width: 94%;
        left: 3%;
        max-width: 900px;
        min-height: 536px;
        border-radius: 4px;
        margin: 0 auto;
        padding: 0;
    }
}

@media screen and (min-width: 1024px) {
    .schedule-wrap {
        left: 50%;
        margin-left: -450px;
        width: 900px;
    }

    .schedule-wrap:after {
        display: block;
        clear: both;
        content: '';
    }
}

.step {
    padding-top: 6px;
    color: #CFCFCF;
    /* font-family: "Open Sans";	 */
    font-size: 12px;
    font-style: italic;
    line-height: 17px;
    text-align: right;
}

.calendar { display: none; }

.add-schedule {
    padding-top: 14px;
}

.add-schedule .date-title {
    padding-bottom: 18px;
}

@media screen and (min-width: 769px) {
    .step {
        clear: both;
        padding-top: 28px;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
    }

    .calendar {
        display: block;
        float: left;
        width: 50%;
        padding: 40px 37px 0 0;
    }

    .add-schedule {
        float: left;
        width: 50%;
        padding: 40px 0 0 38px;
    }

    .add-schedule .date-title {
        padding-bottom: 20px;
    }
}

.add-schedule .icon-calendar {
    display: inline-block;
    height: 50.16px;
    width: 50px;
    border-radius: 4px;
    background-color: #FFD012;
    box-shadow: 1px 2px 17px 0 rgba(0,0,0,0.07);
    text-align: center;
    vertical-align: middle;
}

.add-schedule .icon-calendar svg {
    width: 21.91px;
    height: 20.06px;
    margin-top: 15.05px;
}

.add-schedule .date {
    display: inline-block;
    padding-left: 20px;
    color: #474F58;
    /* font-family: "Open Sans";	 */
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.13px;
    line-height: 24px;
    vertical-align: middle;
}

.form-control {
    padding-bottom: 22px;
}

@media screen and (min-width: 769px) {
    .form-control-wrap {
        width: 85%;
    }

    .form-control-wrap:after {
        clear: both;
        content: '';
        display: block;
    }

    .form-control {
        clear: both;
    }

    .form-control.inline {
        width: 45%;
        clear: none;
    }

    .form-control.inline .select,
    .form-control.inline .select .select-options {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .form-control-wrap {
        width: 321px;
    }

    .form-control.inline {
        width: 140px;
    }

    .form-control.inline .select,
    .form-control.inline .select .select-options {
        width: 140px;
    }
}

.form-control label {
    display: block;
    color: #323C47;
    /* font-family: "Open Sans";	 */
    font-size: 14px !important;
    line-height: 19px;
    padding-bottom: 5px;
}

.form-control label i {
    opacity: 0.3;
    font-style: normal;
}

.form-control input {
    box-sizing: border-box;
    height: 46px;
    width: calc(100% - 2px);
    border: 1px solid #E9EFF4;
    border-radius: 4px;
    background-color: #fff;
    color: #323C47;
    /* font-family: "Open Sans";	 */
    font-size: 14px;
    letter-spacing: -0.16px;
    line-height: 46px;
    padding-left: 10px;
}


/***************************************/
/* input 기본 스타일 초기화 */
input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* mehdi */
input[type=checkbox]  {
    -webkit-appearance: checkbox ;
     -moz-appearance: checkbox ;
          appearance: checkbox ;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear { display: none; }

select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

/* IE 에서 Select box 화살표 제거 */
select::-ms-expand { display: none; }

select {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #323C47;
    width: 100%;
    height: 44px !important;
    line-height: 44px;
    border: 1px solid #E9EFF4;
    border-radius: 4px;
    box-sizing: border-box;
}

/***************************************/
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
}

.select {
    cursor: pointer;
    position: relative;
    font-size: 14px;
    color: #323C47;
    width: 100%;
    height: 46px !important;
    line-height: 44px;
    border: 1px solid #E9EFF4;
    border-radius: 4px;
    box-sizing: border-box;
}

.select select {
    border: none !important;
    background-color: transparent;
}

.select.selected {
    color: #272C33;
}

.select:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-left: 1px solid #E9EFF4;
    border-radius: 0 4px 4px 0;
    background-color: rgba(244,247,249,0.4);
}

.select-options {
    display: none;
    position: absolute;
    top: 44px;
    left: -1px;
    z-index: 999;
    margin: 0;
    padding: 3px 0 0 0;
    list-style: none;
    width: 100%;
    border: 1px solid #E9EFF4;
    border-radius: 4px;
    background-color: #fff;
    overflow-y: auto;
}

.form-control.time {
    display: none;
}

.form-control.duration {
    float: none;
    width: 100%;
}

@media screen and (min-width: 769px) {
    .select:before {
        display: none;
    }

    .select-styled {
        left: 0;
        padding-left: 12px;
    }

    .select-styled {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition:    all 0.2s ease-in;
        -ms-transition:     all 0.2s ease-in;
        -o-transition:      all 0.2s ease-in;
        transition:         all 0.2s ease-in;
        overflow: hidden;
        padding-right: 44px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .select-styled:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 44px;
        height: 44px;
        border-left: 1px solid #E9EFF4;
        border-radius: 0 4px 4px 0;
        background-color: rgba(244,247,249,0.4);
    }

    .date-and-time {
        display: none;
    }

    .form-control.time {
        display: block;
    }

    .time .select-options {
        height: 190px;
    }

    .form-control.duration {
        float: right;
        width: 45%;
    }

    .duration .select-options {
        height: 150px;
    }

    .set-time-zone .select-options {
        height: 109px;
    }
}

@media screen and (min-width: 1024px) {
    .form-control.duration {
        width: 140px;
    }
}

.select-options li {
    position: relative;
    margin: 0;
    padding: 2px 19px;
    color: rgba(50,60,71, .4);
    line-height: 19px;
    /* height: 23px !important; */
    border-top: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition:    all 0.2s ease-in;
    -ms-transition:     all 0.2s ease-in;
    -o-transition:      all 0.2s ease-in;
    transition:         all 0.2s ease-in;
}

.select-options li:first-child {
    position: relative;
}

.select-options li:hover, .select-options li:active,
.select-options li.selected {
    color: rgba(50,60,71, 1);
}

.select-options li.selected:before {
    position: absolute;
    width: 10px;
    height: 10px;
    background: url('../img/icons/check.png') 0 0 / 70% auto no-repeat;
    content: '';
    left: 8px;
    top: 10px;
}

.select-options li[rel='hide'] {
    display: none;
}

.select-options li.disabled,
.select-options li.disabled:hover {
    color: rgba(50,60,71, .12);
}

/** btn *****************************************************************************/
/* blue button */
.btn-square {
    height: 45px;
    width: 150px;
    border-radius: 4px;
    /* font-family: "Open Sans";	 */
    font-size: 18px;
    text-align: center;
}

.btn-square span {
    display: inline-block;
    margin: 0 auto;
}

.btn-square.btn-md {
    width: 201px;
}

.btn-is-blue {
    color: #fff;
    background-color: rgba(40,102,219, 1);
}

.btn-is-blue:hover {
    background-color: rgba(40,102,219, 0.85);
}

/* blue gray */
.btn-is-gray {
    color: #9B9B9B;
    background-color: #eee;
}

.btn-is-gray:hover {
    color: #9B9B9B;
    background-color: rgba(238,238,238, .7);
}


/* blue pink */
.btn-is-pink {
    color: #fff;
    background-color: #ED3C61;;
}

.btn-is-pink:hover {
    background-color: rgba(237,60,97, .7);
}

.pdt12 { padding-top: 12px;}
.pdt20 { padding-top: 20px;}
.pdt25 { padding-top: 25px;}

/* Conference Call Greated! */
.copy-block {
    width: 100%;
    padding: 13px 14px 20px 14px;
    border: 2px solid #50E3C2;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(228,228,228,0.5);
}

.copy-block.red {
    border-color: #ED3C61;
}

.copy-block p {
    /* font-family: "Open Sans";	 */
    font-size: 14px;
    /* font-weight: 600;	 */
    line-height: 19px;
}

.copy-block strong {
    color: #2866DB;
    word-break: break-all;
    font-weight: normal;
    word-wrap: break-word;
}

.note {
    padding-top: 15px;
    color: #4A4A4A;
    /* font-family: "Open Sans",sans-serif;	 */
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.note.sm {
    padding-top: 30px;
    font-size: 12px;
    line-height: 17px;
}

.link-copied-text {
    position: relative;
    padding: 5px 0 15px 0;
    color: #7C8082;
    /* font-family: "Open Sans";	 */
    font-size: 12px;
    letter-spacing: 0.75px;
    line-height: 17px;
}

.link-copied-text svg {
    position: absolute;
    top: 7px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

.link-copied-text span {
    display: block;
    padding-left: 22px;
}

.copy-invitation {
    padding-top: 54px;
}

.description {
    position: relative;
    padding: 18px 0 23px 0;
    font-size: 16px;
    text-align: center;
}

.description.des2 {
    padding: 15px 0;
}


/* Meeting cancelled! */
.description.des3 {
    padding: 30px 0 80px;
}

.description.des3 svg {
    position: absolute;
    top: 35px;
    vertical-align: middle;
    width: 15px;
    height: 15px;
}

.description.des3 span {
    display: inline;
    padding-left: 22px;
}

/* Meetings reminders */
.description.des4 {
    padding: 35px 0 20px;
}

.description.des4 i {
    color: rgba(50,60,71, .4);
}

.description.des4 div:first-child {
    padding-bottom: 22px;
}

@media screen and (min-width: 769px) {
    .copy-block {
        padding: 19px 14px 26px 26px;
    }

    .copy-block p {
        font-size: 16px;
        line-height: 22px;
    }

    .note {
        padding-top: 27px;
    }

    .note.sm {
        padding-top: 37px;
    }

    .link-copied-text {
        padding: 9px 0 14px 0;
    }

    .link-copied-text svg {
        top: 10px;
    }

    .copy-block, .link-copied-text, .note {
        width: calc(100% - 200px);
        margin: 0 auto;
    }

    .copy-invitation {
        padding-top: 40px;
    }

    .description {
        padding: 25px 0;
        font-size: 18px;
    }

    .description.des2 {
        padding: 30px 0 35px 0;
    }

    .description span {
        display: block;
    }

    .description.des3 {
        padding: 156px 0 18px;
    }

    .description.des3 svg {
        position: absolute;
        top: 163px;
        vertical-align: middle;
        width: 15px;
        height: 15px;
    }

    .description.des3 span {
        display: inline;
        padding-left: 22px;
    }

    /* Meetings reminders */
    .description.des4 {
        padding: 110px 0 33px;
    }

    .description.des4 div:first-child {
        padding-bottom: 0;
    }
}

.btn-wrap {
    width: 201px;
    padding-top: 30px;
    margin: 0 auto;
}

.btn-wrap button:first-child {
    margin-bottom: 20px;
}

/* Meetings reminders */
.btn-wrap2 button:first-child {
    margin-bottom: 30px;
}

@media screen and (min-width: 481px) {
    .btn-wrap {
        width: 100%;
        padding-top: 40px;
    }

    .btn-wrap button {
        margin: 0 3px;
    }

    .btn-wrap button:first-child {
        margin-bottom: 0;
    }
}


/* waiting page*/
.bg-gra {
    /*max-width: 1442px;*/
    margin: 0 auto;
    background: linear-gradient(270deg, #3386B5 0%, #50C0D8 0.1%, #54BEE2 0.42%, #2866DB 49.79%, #6064CB 100%);
}

@media screen and (min-width: 769px) {
    .navbar-brand {
        padding-left: 45px;
    }
}

.waiting-section h1 {
    font-family: Lato;
    font-size: 26px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    letter-spacing: 1px;
}

.waiting-section .date {
    padding: 24px 0 31px 0;
}

.waiting-section p {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.waiting-section p strong {
    font-weight: bold;
    color: #fff;
}

.waiting-section p.pdt12 {
    padding-top: 0;
}

.waiting-section .note {
    padding: 10px 0;
    color: rgba(255, 255, 255, .4);
}

.waiting-section .note a {
    display: block;
    color: rgba(255, 255, 255, .4);
}

@media screen and (min-width: 769px) {
    .waiting-section h1 {
        font-size: 32px;
        line-height: 39px;
    }

    .waiting-section .date {
        padding: 23px 0;
    }

    .waiting-section p {
        font-size: 18px;
        line-height: 24px;
    }
}

@media screen and (min-width: 481px) {
    .waiting-section .note a {
        display: inline;
    }

}

.time-block:after {
    display: block;
    clear: both;
    content: '';
}

.time-block {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}

.time-block .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 6px;
    height: 100px;
    width: calc(25% - 6px);
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(246,251,253,0);
}

.time-block .block:last-child {
    margin-right: 0;
}

.time-block .block strong {
    color: #272C33;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}

.time-block .block span {
    padding-top: 10px;
    color: #272C33;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
}


@media screen and (min-width: 381px) {
    .time-block {
        width: auto;
    }

    .time-block .block {
        margin-right: 10px;
        height: 100px;
        width: 70px;
    }
}

.title-system-requirement {
    padding: 16px 0 12px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

.system-requirement-block  {
    padding-bottom: 33px;
}

.system-requirement-block .txt,
.system-requirement-block .txt p {
    font-size: 16px;
    line-height: 22px;
}

.system-requirement-block .txt p {
    padding-top: 12px;
}

.system-requirement-block .txt i {
    color: rgba(50,60,71, .4);
}

.txt .support, .txt .not-support {
    display: block;
}

.txt .support, .txt p span {
    padding-top: 10px;
}

.support svg {
    width: 25px;
    height: 25px;
    margin-bottom: 8px;
    vertical-align: top;
}

.not-support svg {
    width: 28.6px;
    height: 28.16px;
    margin-bottom: 8px;
    vertical-align: top;
}

@media screen and (min-width: 769px) {
    .title-system-requirement {
        padding: 30px 0 40px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
    }

    .f-wrap:after {
        clear:  both;
        content: '';
        display: block;
    }

    .f-wrap {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-bottom: 100px;
    }

    .system-requirement-block  {
        float: left;
        width: 440px;
        padding-top: 10px;
        padding-bottom: 18px;
    }

    .system-requirement-block.left {
        padding-right: 96px;
    }

    .system-requirement-block.left:after {
        display: block;
        clear: both;
        content: '';
    }

    .system-requirement-block.left > div {
        float: right;
    }

    .system-requirement-block .txt,
    .system-requirement-block .txt p {
        font-size: 18px;
        line-height: 33px;
    }

    .system-requirement-block .txt p {
        padding-top: 20px;
    }

    .system-requirement-block.right {
        border-left: 2px solid #EDEDED;
        padding-left: 96px;
    }

    .support svg {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
    }

    .not-support svg {
        width: 33.81px;
        margin-bottom: 20px;
    }

    .txt .support svg,
    .txt .not-support svg {
        margin-bottom: 5px;
    }
}
/*
input::-webkit-calendar-picker-indicator {
     font-size: 21px;
     opacity: 0;
     color: rgba(0,0,0,0);
  } */


  .tooltip {
      position: relative;
      display: inline-block;
      /*border-bottom: 1px dotted black;*/
  }

  .tooltip .tooltiptext {
      /*visibility: hidden;*/
      display: none;
      width: 250px;
      background-color: #555;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      /*left: 50%;*/
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
      /*visibility: visible;*/
      display: block;
      opacity: 1;
  }

  @media screen and (max-width: 769px) {
    .tooltip .tooltiptext {
      left: 50%;
    }
  }
