@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}
h1 {
  color: #FFFFFF;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  /* align-self: flex-start; */
  /* margin-left: 65px; */
}
h2 {
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 8px;
}
.none {
  display: none !important;
}
.block {
  display: block;
}
.wrap {
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  background: #202730;
  /* border:1px solid red; */
}
.room-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  /* border: 5px solid #9ecfd6; */
}
.before-settings {
  justify-content: center;
  align-items: center;
}
.logo-wrap {
  width: 187px;
  height: 38px;
}
.logo-wrap img {
  width: 100%;
}
.test-video-container {
  width: 100%;
  /* height: 60%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 370px; /*min height added*/
  /* border: 2px solid #8b9b5c; */
}
.video-box {
  width: 48%;
  min-height: 100px;
  /* border: 1px solid #CCFF00; */
  position: relative;
}
.cam-off-msg {
  opacity: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .3s ease;
}
.cam-off-msg p {
  color: #fff;
}
#videoFrame {
  transition: all .2s ease;
}
.videoView-bottomLeftName {
  --size: 24px;
  --font-size: 15px;
  overflow: hidden;
  font-size: var(--font-size);
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 20;
  max-width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.videoView-bottomLeftName p, .videoView-bottomLeftName input {
  margin: 0 6px;
  line-height: var(--size);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
  border: none;
  color: #fff;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}
.setting-tool-box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 17px 0 37px 0;
  /* border: 2px solid #cd9b9b; */
}
.setting-tool-box div {
  width: 103px;
  height: 103px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.setting-tool-box div p {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}
.setting-tool-box div img {
  margin-bottom: 13px;
}
.videoOff {
  display: none;
}
.micOff {
  display: none;
}
.mic-onoff .micOnParent {
  width: 35px;
  height: 35px;
  margin-bottom: 13px;
}
.micOn {
  min-height: 28px; /*preventing mic icon resizing*/
}
/*** Mic On Volumn Animation  ***/
#rectangle {
  width: 9px;
  height: 20px;
  /* x: 7px;
  y: -2px; */
  transform: translate(7px, -2px);
  animation: volumn 2s infinite;
  animation-direction: alternate;
  -webkit-animation-direction: alternate;
}
@keyframes volumn {
  0% {
    height: 3px;
    transform: translateY(14px);
  }
  50% {
    height: 16px;
    transform: translateY(0px);
  }
  100% {
    height: 1px;
    transform: translateY(15px);
  }
}
/*** End Mic On Volumn Animation ***/

.join-call {
  width: 100%;
  height: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  /* border: 2px solid #00ced1; */
}
.join-call p {
  color: #fff;
  font-size: 16px;
  line-height: 22px;
}
/* Button Hover 2 */
a.button2, .join-call div.button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #C72844;
  border-radius: 38px;
  height: 2.8em;
  width: 10em;
  padding: 0;
  outline: none;
  overflow: hidden;
  color: #fff;
  -webkit-transition: color 0.3s 0.1s ease-out;
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
  z-index: 1;
}
a.button2::before, .join-call div.button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  line-height: 20em;
  left: -5em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
  background: #C72844;
}
a.button2:hover, .join-call div.button:hover {
  color: #fff;
}
a.button2:hover::before, .join-call div.button:hover::before {
  -webkit-box-shadow: inset 0 0 0 10em #E8657C;
          box-shadow: inset 0 0 0 10em #E8657C;
}
/* End Button Hover 2 */
.join-call div.button {
  top: 100px;
  width: 327px;
}
.join-call div.button::before {
  width: 327px;
  left: 0;
}
.save-btn {
  width: 100%;
  height: 110px;
  position: relative;
  /* border: 2px solid #eeee00; */
}
.save-btn .button2 {
  margin: auto 0px;
}
.video-onoff, .mic-onoff, .settings {
  cursor: pointer;
}
/* Setting */
.settings-box {
  background: rgba(0,0,0,.5);
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 35px;
  width: 48%;
  min-height: 100px;
  /* border: 1px solid #ffc057; */
}
.settings-header {
  display: flex;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 12px;
  /* border: 1px solid #c72844; */
}
button.close-button {
  width: 22px;
  height: 22px;
  background: url("../images/icon/close.png") no-repeat 50% 50%;
  border: none;
  cursor: pointer;
}
button.close-button:focus {
  outline: 0;
}
.settings-dropdown {
  height: 80%;
  /* border: 2px solid pink; */
}
.settings-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.setting-dropdown-row1, .setting-dropdown-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid #33ffcc; */
  height: 72px;
}
.settings-msg {
  color: #fff;
  margin: 0 35px 18px 0;
}
/*** Select Box ***/
.styled-select {
  /* border: 1px solid #32353B; */
  box-sizing: border-box;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}
.styled-select, .styled-select select { width: 240px; font-size: 16px; color: #32353B;}
select:focus { outline: none; }
.styled-select select {
  height: 34px;
  padding: 5px 0 5px 5px;
  background: #fff;
  border: none;

  /*hide default down arrow in webkit */
  -webkit-appearance: none;
}

@-moz-document url-prefix(){
  .styled-select select { width: 110%; }
}

.fa-sort-desc {
  position: absolute;
  top: 0;
  right: 12px;
  font-size: 24px;
}

 select::-ms-expand { display: none; } /* hide default down arrow in IE10*/

/* hack to fall back in opera */
_:-o-prefocus, .selector {
  .styled-select { background: none; }
  }
/*** End Select Box ***/
/* End Setting  */
/* Access Denied CSS */
.access-denied-msg {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 66px;
}
/* End Access Denied CSS */

/* Thank You Page CSS */
.thank-you-msg {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1.see-you-head {
  font-size: 26px;
  font-weight: 600;
  margin: 0;
  line-height: 40px;
}
.see-you {
  font-size: 18px;
  color: #DDE1E7;
}

/* Media Query */
@media only screen  and (max-width : 1160px) {
  .setting-dropdown-row1, .setting-dropdown-row2 {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
  }
  .setting-msg p {
    font-size: 12px;
  }
  h2 {
    font-size: 16px;
  }
}

/* New Button */
button.new-button {
  position: absolute;
  left:0;
  top: 50%;
  -webkit-transform: translateX(0) translateY(-50%);
          transform: translateX(0) translateY(-50%);
}
.join-call button.new-button {
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
          transform: translateX(-50%) translateY(50%);
}

button.new-button {
  background: #C72844;
  color: #fff;
  width: 200px;
  height: 50px;
  border: 0;
  font-size: 18px;
  border-radius: 25px;
  font-family: 'Open-sans', sans-serif;
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}
button.new-button:focus {
  outline: 0;
}
button.new-button:before {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  height: 100%;
  left: 0;
  top: 0;
  opacity: .5;
  -webkit-filter: blur(30px);
          filter: blur(30px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
button.new-button:after {
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 100%;
  left: 30px;
  top: 0;
  opacity: 0;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translateX(-100px) skewX(-15deg);
          transform: translateX(-100px) skewX(-15deg);
}
button.new-button:hover {
  background: #E8657C;
  cursor: pointer;
}
button.new-button:hover:before {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  -webkit-transition: .7s;
  transition: .7s;
}
button.new-button:hover:after {
  -webkit-transform: translateX(300px) skewX(-15deg);
          transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  -webkit-transition: .7s;
  transition: .7s;
}

/* End New Button */
